.welcome-email-editor-background {
  background-color: $highlight;
  padding: 20px;
}
.marketplace-title-header h1{
  text-align: right !important;
}
.row:after, .row-with-divider:after {
    content: "";
    display: inline-table !important;
    clear: both;
}
.toggle-menu a{
  text-align: right;
}
.pull-right{
  float: right !important;
}
.left-navi{
  position: relative !important;
  float: left;
}
